 PASS  Tests\Feature\TransactionTest
  ✓ it can create a transaction                                                                                            10.97s  
  ✓ it can read a transaction                                                                                               0.12s  
  ✓ it can update a transaction                                                                                             0.18s  
  ✓ it can delete a transaction                                                                                             0.11s  

   PASS  Tests\Feature\UserTest
  ✓ it can create a user                                                                                                    0.12s  
  ✓ it can read a user                                                                                                      0.13s  
  ✓ it can update a user                                                                                                    0.11s  
  ✓ it can delete a user                                                                                                    0.10s  

  Tests:    8 passed (20 assertions)
  Duration: 12.18s